.border1 {
	border: 2px solid #CC0000;
}
.border2 {
	border: 2px solid #6633FF;
}
.border3 {
	border: 2px solid #003300;
}
.border4 {
	border: 2px solid #00FF00;
}
.border5 {
	border: 2px solid #0000FF;
}
